$colorAccent: purple;
$colorDark: navy;
$colorLight: cyan;

$fontContent: 'Audiowide', sans-serif;
$fontDisplay: 'Press Start 2P', sans-serif;

$typeLg: calc(1.2rem + (24 - 1.2) * ((100vw - 300px) / (1600 - 300)));
$typeMd: 2rem;
$typeSm: 1rem;

html {
  font-size: 62.5%;
}

body {
  background: radial-gradient(
    circle at bottom,
    $colorDark 0%,
    black 100%
  );
  display: flex;
  flex-direction: column;
  font-family: $fontContent;
  font-size: $typeMd;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

header {
  box-shadow: 0 0 100px $colorAccent;
  padding-top: 5rem;
  h1 {
    color: $colorLight;
    font-family: $fontDisplay;
    font-size: $typeLg;
    letter-spacing: 0.25rem;
    margin: 0;
    text-align: center;
    text-transform: lowercase;
  }
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
}

footer {
  color: white;
  font-size: $typeSm;
  margin: 1rem auto;
  width: 90vw;
  text-align: right;
  a {
    color: $colorAccent;
    text-decoration: none;
  }
}
