$darkColor: black;
$lightColor: white;

$baseFont: 'Open Sans', sans-serif;

$medType: calc(1.6rem + (3 - 1.6) * ((100vw - 300px) / (1600 - 300)));

html {
  font-size: 62.5%;
}

body {
  background: $darkColor;
  color: $lightColor;
  font-family: $baseFont;
  font-size: $medType;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.board {
  position: relative;
  perspective: 200px;
}

.insist {
  animation: flash 1s ease-out infinite;
}

@keyframes flash {
  from {
    box-shadow: 0 0 5px black;
  }
  to {
    box-shadow: 0 1px 5px white;
  }
}

.key {
  display: inline-block;
  transform: rotateX(60deg);
  width: 50px;
}

.white {
  border: 4px solid cyan;
  height: 200px;
}

.black {
  background: rgba(128, 0, 128, 0.5);
  border: 4px solid purple;
  height: calc(200px - 25%);
  position: absolute;
  top: 0px;
  z-index: 1;
}

.black:nth-child(5),
.black:nth-child(7) {
  margin-left: -25px;
}

.black:nth-child(10),
.black:nth-child(12) {
  margin-left: -50px;
}

.label {
  text-align: center;
}

.white .label {
  margin-top: 400%;
}

.black .label {
  margin-top: 275%;
}
