.board {
  position: relative;
  perspective: 600px;
}

.key {
  border: 1px solid white;
  display: inline-block;
  transform: rotateX(20deg);
  width: calc(30px + (80 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.white {
  background: transparentize(
    $color: $colorLight,
    $amount: 0.75
  );
  border-radius: 5px;
  box-shadow:
    1px 5px 10px $colorLight,
    1px -2px 10px $colorLight,
    2px 2px 10px 5px $colorLight inset;
  height: 200px;
}

.black {
  background: transparentize(
    $color: $colorMid,
    $amount: 0.4
  );
  border-radius: 5px;
  box-shadow:
    1px 5px 10px $colorMid,
    1px -2px 5px $colorMid,
    -2px 2px 5px 2px $colorMid inset;
  height: calc(200px - 25%);
  margin-left: -6%;
  position: absolute;
  top: 0px;
  z-index: 1;
}

.label {
  bottom: 1rem;
  font-weight: 900;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow:
    1px 1px 2px white,
    -1px -0.5px 5px white;
}
