html {
  background: -webkit-radial-gradient(bottom, circle, navy 0%, black 100%);
  background: -o-radial-gradient(bottom, circle, navy 0%, black 100%);
  background: radial-gradient(circle at bottom, navy 0%, black 100%);
  font-size: 62.5%;
  height: 100vh;
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Audiowide", sans-serif;
  font-size: calc(1.4rem + (10 - 1.4) * ((100vw - 300px) / (1600 - 300)));
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 300px;
  margin: 0 auto;
  max-width: 1600px;
  position: relative; }

header {
  padding-top: 5rem; }
  header h1 {
    border-bottom: 1px solid purple;
    color: cyan;
    font-family: "Press Start 2P", sans-serif;
    font-size: calc(1.4rem + (24 - 1.4) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 0.25rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase; }

aside {
  text-align: center; }

aside,
footer {
  color: white;
  font-size: 1.2rem;
  margin: 1rem auto;
  width: 90vw; }

main {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

footer {
  text-align: right; }
  footer a {
    color: purple;
    text-decoration: none; }

.insist {
  -webkit-animation: flash 1s ease-out infinite;
  animation: flash 1s ease-out infinite; }

@-webkit-keyframes flash {
  from {
    background: rgba(0, 0, 128, 0.5); }
  to {
    background: rgba(64, 224, 208, 0.5); } }

@keyframes flash {
  from {
    background: rgba(0, 0, 128, 0.5); }
  to {
    background: rgba(64, 224, 208, 0.5); } }

.board {
  position: relative;
  -webkit-perspective: 600px;
  perspective: 600px; }

.key {
  border: 1px solid white;
  display: inline-block;
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  width: calc(30px + (80 - 30) * ((100vw - 300px) / (1600 - 300))); }

.white {
  background: rgba(0, 255, 255, 0.25);
  border-radius: 5px;
  -webkit-box-shadow: 1px 5px 10px cyan, 1px -2px 10px cyan, 2px 2px 10px 5px cyan inset;
  box-shadow: 1px 5px 10px cyan, 1px -2px 10px cyan, 2px 2px 10px 5px cyan inset;
  height: 200px; }

.black {
  background: rgba(128, 0, 128, 0.6);
  border-radius: 5px;
  -webkit-box-shadow: 1px 5px 10px purple, 1px -2px 5px purple, -2px 2px 5px 2px purple inset;
  box-shadow: 1px 5px 10px purple, 1px -2px 5px purple, -2px 2px 5px 2px purple inset;
  height: calc(200px - 25%);
  margin-left: -6%;
  position: absolute;
  top: 0px;
  z-index: 1; }

.label {
  bottom: 1rem;
  font-weight: 900;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 1px 1px 2px white, -1px -0.5px 5px white; }

input.preset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid red;
  border-radius: 50%;
  cursor: pointer;
  height: 1.2rem;
  margin: 0 0.2rem -0.2rem 1rem;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
  width: 1.2rem; }

input.preset:first-of-type {
  margin-left: 0; }

input.preset:checked {
  background: cyan;
  -webkit-box-shadow: 0 0 10px cyan;
  box-shadow: 0 0 10px cyan; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.space {
  background: rgba(128, 0, 128, 0.01) round center;
  background-size: 200px 200px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

.stars1 {
  -webkit-animation: space 180s ease-in-out infinite;
  animation: space 180s ease-in-out infinite;
  background-image: -webkit-radial-gradient(1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
  background-image: -o-radial-gradient(1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
  background-image: radial-gradient(1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)), radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)), radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)), radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)), radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)), radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
  border: 1px dashed purple; }

.stars2 {
  -webkit-animation: space 240s ease-in-out infinite;
  animation: space 240s ease-in-out infinite;
  background-image: -webkit-radial-gradient(1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
  background-image: -o-radial-gradient(1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
  background-image: radial-gradient(1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)), radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)), radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)), radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)), radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)), radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
  border: 1px dashed purple; }

.stars3 {
  -webkit-animation: space 300s ease-in-out infinite;
  animation: space 300s ease-in-out infinite;
  background-image: -webkit-radial-gradient(1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)), -webkit-radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
  background-image: -o-radial-gradient(1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)), -o-radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
  background-image: radial-gradient(1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)), radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)), radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)), radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)), radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)), radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
  border: 1px dashed purple; }

@-webkit-keyframes space {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  40% {
    opacity: 0.75; }
  50% {
    opacity: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  60% {
    opacity: 0.25; }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes space {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  40% {
    opacity: 0.75; }
  50% {
    opacity: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  60% {
    opacity: 0.25; }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
